/* :root {
 --bg: #5B47A9;
 

}

body {
     
    background-color: var(--bg) ;

}


.search {
    color: var(--bg);
}

.black{
   height:300px ;
   width:200px ;
}

#8 {

}

header{
      
 background-color: color 

} */




:root {
   --color: #eeeeee;
   --colorwhite: white;
}

body{
    background-color: var(--color); 
    
}

.cardImg{
    height: 60px;
    width:  70px;
    
}

.container {
    padding-top: -50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.card {
   font-size: 7px;
   background-color: white;
   height: 100px;
   margin: 20px;
   width: 95px;
   border-radius: 12px;
   display: flex;   
   flex-direction: column;      /* Ставит элементы вертикально */
  justify-content: center;     /* Центрирует по вертикали */
  align-items: center;         /* Центрирует по горизонтали */
   padding: 6px;
   box-shadow: 0 6px 12px grey;
   text-align: center;
} 


.main {
    margin: 0px;
    width:  100%;
    height: 50%;
    border-radius: 10px;
}

.containerImg{
    margin: 20px;
}


.containerDown  {
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    margin: 20px;
}


.containerUp {
    background-color: white;
    width:  100%;
    height: 150px;
    flex-direction: column;      /* Ставит элементы вертикально */
  justify-content: center;     /* Центрирует по вертикали */
  align-items: center;   



}



 a{
    color:  #3E3C3C; 
    text-decoration: none;
    
}